spring:
  profiles:
    active: local
---
spring:
  profiles: local
  datasource:
    url: jdbc:postgresql://localhost:5432/app
    username: nguyengian
    password: 030717
    driver-class-name: org.postgresql.Driver
  jpa:
    show-sql: true
    hibernate:
      ddl-auto: validate
      naming:
        strategy: org.hibernate.cfg.ImprovedNamingStrategy
    database-platform: org.hibernate.dialect.PostgreSQLDialect
    properties:
      hibernate:
        dialect: org.hibernate.dialect.PostgreSQLDialect
        naming-strategy: org.hibernate.cfg.ImprovedNamingStrategy
        jdbc.lob.non_contextual_creation: true
        format_sql: true
  flyway:
    enabled: true
    baseline-on-migrate: true
    locations: classpath:/db/migration
    clean-disabled: true
server:
  port: 4000